body {
    background-color: #8a7cd4;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: 'AgitProp';
    src: url('fonts/Agitpropc.otf');
  }

  .fontPreload {
    font-family: 'AgitProp', serif;
    position: absolute;
  }